{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
    <div class="card shadow" style="max-width: 800px">
        <div class="card-body">
            <h2 class="card-title text-center">Храм на Крови в Екатеринбурге</h2>
            <img src="{% static 'main/img/Ekb.jpeg' %}" class="card-img-top img-fluid mb-4" alt="Храм на крови">
            <p class="card-text">
                 Храм на Крови во имя Всех Святых в Земле Российской Просиявших, более известный как Храм на Крови, является одной из самых значимых
                достопримечательностей Екатеринбурга. Он был возведён в начале XXI века на месте Ипатьевского дома, где в 1918 году была расстреляна царская семья Николая II.
            </p>
            <p class="card-text">
                Этот православный храм сочетает в себе элементы древнерусской архитектуры и византийского стиля.
                Его строительство началось в 2000 году и завершилось в 2003 году. Храм стал символом памяти и скорби по трагическим событиям,
                связанным с последними днями жизни Романовых.
            </p>
            <p class="card-text">
                Внутри храма находится музей, посвященный истории семьи Романовых и событиям, произошедшим в Ипатьевском доме.
                Ежегодно к Храму на Крови стекаются тысячи паломников и туристов, чтобы почтить память о погибших.
            </p>
            <p class="card-text">
                Храм на Крови является не только местом поклонения, но и важным культурно-историческим центром,
                который привлекает внимание своей архитектурной красотой и значимостью для российской истории.
            </p>
            <a href="https://xram-na-krovi.ru/" class="btn btn-primary btn-block" target="_blank">Узнать больше</a>
        </div>
    </div>
</div>
{% endblock %}