{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
    <div class="card shadow" style="max-width: 800px">
        <div class="card-body">
            <h2 class="card-title text-center">Олимпийский парк в Сочи</h2>
            <img src="{% static 'main/img/Sochi.jpg' %}" class="card-img-top img-fluid mb-4" alt="Олимпийский парк">
            <p class="card-text">
                 Олимпийский парк в Сочи — это современный спортивный комплекс, расположенный в Адлерском районе города Сочи, Россия.
                Парк был построен для проведения Зимних Олимпийских игр 2014 года и стал одним из главных символов спортивного развития страны.
            </p>
            <p class="card-text">
                В парке располагаются многочисленные спортивные сооружения, включая Олимпийский стадион «Фишт», который служил местом проведения церемоний открытия и закрытия Игр,
                а также ледовые дворцы и арены для соревнований по хоккею, фигурному катанию и другим зимним видам спорта.
            </p>
            <p class="card-text">
                Помимо спортивных объектов, Олимпийский парк предлагает обширные прогулочные зоны, фонтаны и зеленые насаждения, что делает его популярным местом отдыха как для местных жителей, так и для туристов.
                Парк также является площадкой для проведения различных культурных и развлекательных мероприятий.
            </p>
            <p class="card-text">
                Сегодня Олимпийский парк в Сочи продолжает развиваться и оставаться важным центром спортивной и культурной жизни региона,
                привлекая внимание своим масштабом и современными архитектурными решениями.
            </p>
            <a href="https://xn----8sbwaafbgebmvqgqj.xn--p1ai/" class="btn btn-primary btn-block" target="_blank">Узнать больше</a>
        </div>
    </div>
</div>
{% endblock %}